<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ExpenseAppEntities" connectionString="metadata=res://*/ExpenseModel.csdl|res://*/ExpenseModel.ssdl|res://*/ExpenseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTO-PC\SQLEXPRESS;initial catalog=ExpenseApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpenseAppEntities1" connectionString="metadata=res://*/ExpenseMOdel.csdl|res://*/ExpenseMOdel.ssdl|res://*/ExpenseMOdel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EGOMEN;initial catalog=ExpenseApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>